body {
    background-color:black;
    }

head {
}

h2 {
    font-family: "GOST Common", Verdana, sans-serif;
    padding: 20px;
    margin: -10px;
    font-size: 34px;
    color:lime;
}
h3 {
    font-family: "GOST Common", Verdana, sans-serif;
    padding: 16px;
    margin: -10px;
    font-size: 26px;
    color:lime;
}
h4 {
    font-family: "GOST Common", Verdana, sans-serif;
    padding: 16px;
    margin: -10px;
    font-size: 22px;
    color:lime;
}
a {
    color: lime;
}
div.bodyDiv {
    text-align: center;
    padding: 100px;
    outline-style: solid;
    outline-color: dodgerblue;
}

div.info {
    outline-style: solid;
    outline-color: tomato;
    width: 50%;
    text-align: left;
}
.bContact {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline:none;
  color:lime;
  background-color:#4d4d4d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #333333;
}

.bContact:hover {background-color: #444444}

.bContact:active {
  background-color: #262626;
  box-shadow: 0 5px #333333;
  transform: translateY(3px);
}
div.contactButton{
      outline-style: solid;
      outline-color: purple;
}






.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color:lime;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lime;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: lime;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lime;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lime;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lime;
  }
}
